:root{
    --brown-accent: #8F6847;
    --inactive-grey: #737373;
    --black: #000000;
    --secondary-black: #0000001A;
    --white: #FFFFFF;
    --grey: #F5F6F6;
    --grey-iii: #F5F5F5;
    --grey-iv: #F3F3F3;
    --grey-v: #D9D9D9;
    --grey-vi: #D7D7D7;
    --navbarHeight: 80px;
}
@font-face {
    font-display: swap;
    font-family: "dm-sans";
    font-style: normal;
    font-weight: 400; /* Regular */
    src: url("../fonts/DMSans-Regular.ttf") format("woff");
}

@font-face {
    font-display: swap;
    font-family: "dm-sans";
    font-style: normal;
    font-weight: 500; /* Medium */
    src: url("../fonts/DMSans-Medium.ttf") format("woff");
}

@font-face {
    font-display: swap;
    font-family: "dm-sans";
    font-style: normal;
    font-weight: 700; /* Bold */
    src: url("../fonts/DMSans-Bold.ttf") format("woff");
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "dm-sans", sans-serif;
    font-weight: 400;
    background: var(--white);
}
button{
    background: transparent;
    outline: none;
}
.bg-inactive-grey{
    background-color: var(--inactive-grey);
}
.bg-transparent{
    background: transparent;
}
.bg-grey{
    background-color: var(--grey);
}
.bg-grey-iii{
    background-color: var(--grey-iii);
}
.bg-grey-iv{
    background-color: var(--grey-iv);
}
.bg-grey-v{
    background-color: var(--grey-v);
}
.bdr-grey-v{
    border: 1px solid var(--grey-v);
}
.bg-grey-vi{
    background-color: var(--grey-vi);
}
.bg-black-secondary{
    background-color: var(--secondary-black);
}
.bdr-inactive-grey{
    border: 1px solid var(--inactive-grey) !important;
}
.bdr-linear-gradient1{
    border-left: 1px solid transparent;
    border-image-source: linear-gradient(90deg, #896040 0%, #906543 100%);
    border-image-slice: 1;
    border-image-repeat: stretch;

}
.color-grey-ii{
    color: #C6C6C6;
}
.color-inactive-grey{
    color: var(--inactive-grey);
}
.xui-h-230{
    height: 230px;
}
.xui-navbar .links{
    justify-content: center !important;
    width: 100%;
}
.xui-navbar .links ul li a{
    color: var(--black);
}
.bdr-rad-half{
    border-radius: .6rem .6rem 0 0;
}
.swiper.product-swiper{
    padding-bottom: 7rem !important;
}
.swiper-pagination{
    top: 510px !important;
}
.swiper.product-swiper .swiper-pagination-bullet{
    width: 25px !important;
    border-radius: 2rem !important;
    background-color: var(--inactive-grey);
    opacity: 1;
    height: 6px;
    transition: .6s ease;
}
.swiper.product-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: var(--black);
    width: 40px !important;
}
.asc-footer ul li a, .asc-footer ul li{
    text-decoration: none;
    font-size: 90%;
    list-style: none;
    color: var(--inactive-grey);
}
.asc-footer ul li{
    margin: .6rem 0;
}
.asc-footer ul{
    padding: 0;
}
.asc-footer .asc-newsletter input::placeholder{
    color: #FFF;
    font-weight: 400;
}
.asc-filter-products label{
    font-size: 110%;
}
.range-slider{
    height: 3px !important;
}
.range-slider .range-slider__range{
    background: var(--black) !important;
}
.range-slider .range-slider__thumb{
    background: var(--grey-iii) !important;
    border: 1px solid var(--black);
    width: 18px !important;
    height: 18px !important;
}
.hensard-eye-password {
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(0, 0, 0, .4);
    cursor: pointer;
}
.asc-auth-form-grp{
    margin: 1rem 0;
}
.or-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: var(--baseline-grid-vi);
}
.or-sign p {
    z-index: 1;
    background: var(--dark-purple);
    padding: 0 var(--baseline-grid-iv);
    color: var(--neutrals-color-50);
}
.or-sign::before,
.or-sign::after{
    position: absolute;
    width: calc(50% - 62px);
    height: 2.5px;
    background-color: var(--grey-v);
    content: '';
    top: 50%;
    transform: translateY(-50%);
}
.or-sign::before{
    left: 0;
}
.or-sign::after{
    right: 0;
}
.pincode-input-container{
    display: flex !important;
    justify-content: space-between;
}
.pincode-input-container input{
    border-radius: .5rem;
    height: 60px !important;
    border: 1px solid var(--inactive-grey) !important;
    position: relative;
}
/* .pincode-input-container input::before{
    content: '';
    position: absolute;
} */
.asc-cart-table-holder{
    box-shadow: 0px 4.58px 4.58px 0px #00000040, 0px -11.44px 11.44px 0px #F5F5F5; background: #FFFFFF;
    padding: 0 1rem 1rem 1rem;
    border-radius: 1rem;
}
.asc-cart-table-holder .asc-cart-table{
    border-collapse: collapse;
}

.asc-cart-table-holder thead tr th{
    padding: 1rem 0;
    text-align: left;
    border-bottom: 1px solid #7A7A7A;
}
.asc-cart-table-holder tbody tr td{
    padding: 1rem 1rem 1rem 0;
}
.asc-cart-table-holder tbody tr{
    border-bottom: 1px solid #7A7A7A;
}
.asc-cart-delivery{
    box-shadow: 0px -2.21px 6.62px 0px #D3D3D380;
}
.xui-radio-btn {
    position: relative;
    display: inline-block;
    margin-left: 20px;
  }
  
  .xui-radio-btn input {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
  
  .xui-radio-btn-label {
    position: relative;
    padding-left: 25px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .xui-radio-btn-label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #fff;
  }
  
  .xui-radio-btn-label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #333;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .xui-radio-btn input:checked + .xui-radio-btn-label::after {
    opacity: 1;
  }
@media screen and (max-width: 1024px){
    
}